<div class="backdrop"></div>
<header class="main-header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
    <span class="navbar-brand text-success ml-lg-4" href="#">Books Shop</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ml-sm-2 ml-lg-4">
        <li class="nav-item  py-2">
          <a class="<%= path === '/' ? 'disabled text-warning' : 'text-white' %> nav-link" href="/">Shop</a>
        </li>
        <li class="nav-item  py-2">
          <a class="<%= path === '/products' ? 'disabled text-warning' : 'text-white' %> nav-link" href="/products"
            >Products</a
          >
        </li>
        <% if (isAuthenticated) {%>
          <li class="nav-item  py-2">
            <a class="<%= path === '/cart' ? 'disabled text-warning' : 'text-white' %> nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item  py-2">
            <a class="<%= path === '/orders' ? 'disabled text-warning' : 'text-white' %> nav-link" href="/orders"
              >Orders</a
            >
          </li>
          <li class="nav-item  py-2">
            <a
              class="<%= path === '/admin/add-product' ? 'disabled text-warning' : 'text-white' %> nav-link"
              href="/admin/add-product"
              >Add Product
            </a>
          </li>
          <li class="nav-item  py-2">
            <a
              class="<%= path === '/admin/products' ? 'disabled text-warning' : 'text-white' %> nav-link"
              href="/admin/products"
              >My Products
            </a>
          </li>
          <li class="nav-item  py-2">
            <a
              class="<%= path === '/user' ? 'disabled text-warning' : 'text-white' %> nav-link"
              href="/admin/about-user"
              data="user-name"
            ></a>
          </li>
        <% } %>
        <!-- Adicionar funcionalidade de filtro no controller -->
        <form class="form-inline ml-sm-2 ml-md-0 my-2 my-sm-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success  my-2" type="submit">Search</button>
        </form>
      </ul>



      <% if (!isAuthenticated) { %>
        <ul class="navbar-nav mr-lg-4">
          <li class="nav-item my-4 my-sm-2 ml-lg-4 col-4 offset-8 col-lg-6 offset-lg-0">
            <a class="nav-link btn btn-secondary btn-sm text-white <%= path === '/login' ? 'disabled bg-dark border-0' : 'text-white' %>" href="/login"
              >Login</a
            >
          </li>
          <li class="nav-item my-sm-2 col-4 offset-8 col-lg-6 offset-lg-0">
            <a class="nav-link btn btn-secondary btn-sm text-white <%= path === '/signup' ? 'disabled bg-dark border-0' : 'text-white' %>" href="/signup"
              >Signup</a
            >
          </li>
        </ul>
      <% } else { %>
        <form action="/logout" method="POST" class="col-1 offset-9 ml-md-2 ml-md-5 my-md-5 my-lg-2">
          <button type="submit" class="btn btn-warning">Logout</button>
          <%- include('../includes/csrf-token.ejs') %>
        </form>
      <% } %>
    </div>
  </nav>
</header>
