<div class="container col-12 my-5 text-center text-info">
  <% if ( currentPage !== 1 && previousPage !== 1 ) { %>
    <a class="btn btn-outline-dark" href="<%= path %>?page=1">First Page</a>
  <% } %>
  <% if ( hasPreviousPage ) {%>
    <a class="btn btn-outline-dark" href="?page=<%= previousPage %>"><%= previousPage %></a>
  <% } %>
  <a class="btn btn-outline-dark" href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
  <% if ( hasNextPage ) {%>
    <a class="btn btn-outline-dark" href="?page=<%= nextPage %>"><%= nextPage %></a>
  <% } %>
  <% if ( lastPage !== currentPage && lastPage !== nextPage ) {%>
    <a class="btn btn-outline-dark" href="?page=<%= lastPage  %>"><%= 'Last Page' %></a>
  <% } %>
</div>