<%- include('../includes/head.ejs') %>

</head>

<body>

<%- include('../includes/navigation.ejs') %>

<main>
  <div id="container">
    <% if(products.length > 0) {%>
      <div class="pb-5">
        <div class="container">
          <section class="row">
            <div class="col-lg-12 p-5 bg-white rounded shadow mb-5">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="border-1 bg-light">
                        <div class="p-2 px-3 text-uppercase">Product</div>
                      </th>
                      <th scope="col" class="border-1 bg-light">
                        <div class="py-2 text-uppercase">Price</div>
                      </th>
                      <th scope="col" class="border-1 bg-light">
                        <div class="py-2 text-center">Quantity</div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Adiciona uma linha na tabela para cada produto. -->
                    <% for(const product of products) { %>
                      <tr>
                        <th scope="row" class="border-1">
                          <div class="p-2">
                            <img src="/<%= product.imageUrl %>" alt="<%= product.title %>" width="70" class="img-fluid rounded shadow-sm">
                            <div class="ml-3 d-inline-block align-middle">
                              <h5 class="mb-0"> <a href="/products/<%= product._id %>" class="text-dark d-inline-block align-middle"><%= product.title %></a></h5><span class="text-muted font-weight-normal font-italic d-block">Genre: Adicionar generos no Model</span>
                            </div>
                          </div>
                        </th>
                        <td class="border-1 align-middle"><strong>$<%= product.price %></strong></td>
                        <td class="border-1 align-middle col-12 col-md-6 text-center">
                          <strong class="col-12 col-sm-auto"><%= product.quantity %></strong>
                          <div class="col">
                            <!-- Incrementa quantidade do produto no carrinho -->
                            <form class="d-inline" action="/cart-control-quantity" method="POST">
                              <input type="hidden" name="action" id="action" value="increase">
                              <input type="hidden" name="productId" id="productId" value="<%= product._id %>">
                              <button class="btn btn-success btn-md ml-md-4 mt-4 mt-md-auto">+</button>
                              <%- include('../includes/csrf-token.ejs') %>
                            </form>
                            <!-- Decrementa quantidade do produto no carrinho -->
                            <form class="d-inline" action="/cart-control-quantity" method="POST">
                              <input type="hidden" name="action" id="action" value="decrease">
                              <input type="hidden" name="productId" id="productId" value="<%= product._id %>">
                              <%- include('../includes/csrf-token.ejs') %>
                              <button class="btn btn-secondary btn-md ml-md-4 mt-4 mt-md-auto">-</button>
                            </form>
                            <!-- Deleta quantidade do produto no carrinho -->
                            <form class="d-inline" action="/cart-control-quantity" method="POST">
                              <input type="hidden" name="action" id="action" value="delete">
                              <input type="hidden" name="productId" id="productId" value="<%= product._id %>">
                              <%- include('../includes/csrf-token.ejs') %>
                              <button class="btn btn-danger btn-md ml-md-4 mt-4 mt-md-auto">REMOVE</button>
                            </form>
                          </div>
                        </td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
                <div class="col-2 offset-5">
                  <form action="/cart-control-quantity" method="POST">
                    <input type="hidden" name="action" id="clear" value="clear">
                    <%- include('../includes/csrf-token.ejs') %>
                    <button class="btn btn-warning btn-md ml-md-4 mt-4 mt-md-auto" id="clear-btn">CLEAR CART</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col text-center">
              <div>
                <p class="font-weight-bold text-uppercase">
                  Total Price: $<%= totalPrice %>
                </p>
              </div>
              <div>
                <a class="btn btn-primary btn-lg" href="/checkout">Checkout</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    <% } else { %>
      <h1 class="text-center text-warning">
        No products in cart!
      </h1>
    <% } %>
  </div>
</main>

<script src="/js/cart/cart-control.js"></script>

<%- include('../includes/end.ejs') %>
