  <link rel="stylesheet" href="/css/cart.css">
  <%- include('../includes/head.ejs') %>
  <style>
    .StripeElement {
      box-sizing: border-box;

      height: 40px;

      padding: 10px 12px;

      border: 1px solid transparent;
      border-radius: 4px;
      background-color: white;

      box-shadow: 0 1px 3px 0 #e6ebf1;
      -webkit-transition: box-shadow 150ms ease;
      transition: box-shadow 150ms ease;
    }

    .StripeElement--focus {
      box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
      border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
      background-color: #fefde5 !important;
    }

    .payment-form {
      text-align: center;
    }

    #order-btn {
      margin-top: 20px;
    }
  </style>
</head>

<body>

    <%- include('../includes/navigation.ejs') %>

    <main>

        <div id="content">
          <ul class="cart__item-list">
            <% products.forEach( p => { %>
              <li class="cart__item">
                <h1><%= p.productId.title %></h1>
                <h2>Quantity: <%= p.quantity %></h2>
              </li>
            <% }) %>
          </ul>
          <h2>
            Total: $<%= totalSum %>
          </h2>
        </div>
        <div class="centered">
          <form action="order" method="POST">
            <%- include('../includes/csrf-token.ejs') %>
            <button class="btn" id="order-btn">ORDER NOW</button>
          </form>
        </div>
        <div class="centered">
          <!-- 
          =============== Usado para a API de pagamento Stripe ===============
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const stripe = Stripe('pk_test_n3Yd18wLsDbkUegKXunvJ9AI00px6yOccO');

            const orderBtn = document.getElementById('order-btn');
            orderBtn.addEventListener('click', function(){
              stripe.redirectToCheckout({
                sessionId: <id de sessao do stripe>
              });
            });
          </script> -->
        </div>
     
    </main>

    <%- include('../includes/end.ejs') %>