<%- include('../includes/head.ejs') %>
    <style>
      .error {
        color: rgb(201, 9, 9);
        font-weight: normal;
        font-size: 18px;
        display: block;
        text-align: center;
        text-shadow: 0 1px 1px black;
        text-transform: uppercase;
      }
    </style>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
      <div class="container col-12 col-sm-6 offset-md-3 mt-auto">
        <span class="error"> <%= error %> </span>
        <form accept-charset="utf-8" action="/login" method="POST">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value="<%= email %>" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="keep" value="yes">
            <label class="form-check-label checkbox" for="keepConnect">Keep Me Connected</label>
          </div>
          <button type="submit" class="btn btn-dark" id="submit">Submit</button>
          <%- include('../includes/csrf-token.ejs') %>
        </form>
        <script src="./js/login/login.js">
        </script>
      </div>
    </main>
    
<%- include('../includes/end.ejs') %>