<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css"> -->
    <style>
      .error {
        color: rgb(201, 9, 9);
        font-weight: normal;
        font-size: 18px;
        display: block;
        text-align: center;
        text-shadow: 0 1px 1px black;
        text-transform: uppercase;
      }
    </style>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
   <main>
    <div class="container col-12 col-sm-6 offset-md-3 mt-auto">
      <span class="error"> <%= error %> </span>
      <form action="/signup" method="POST">
        <div class="form-group">
          <label for="username">Your name</label>
          <input type="text" class="form-control" id="username" name="username" aria-describedby="username" placeholder="e.g. Cardeal" value="<%= username %>">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="e.g. myemail@gmail.com" value="<%= email %>">
          <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Use only alphanumerics characters">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Repeat password here">
        </div>
        <button type="submit" class="btn btn-primary" id="submit">Signup</button>
        <%- include('../includes/csrf-token.ejs') %>
      </form>
    </div>
  </main>

    
<%- include('../includes/end.ejs') %>