<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <style>
      .error {
        color: rgb(201, 9, 9);
        font-weight: normal;
        font-size: 18px;
        display: block;
        text-align: center;
        text-shadow: 0 1px 1px black;
        text-transform: uppercase;
      }
    </style>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(isAuthenticated) { %>
          <span class="error"> <%= error %> </span>
          <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% }else{ %><%= title %> <% } %>">
            </div>
            <div class="form-control">
                <label for="image">Image URL</label>
                <input type="file" name="image" id="image">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.1" value="<% if (editing) { %><%= product.price %><% }else{ %><%= price %> <% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if (editing) { %><%= product.description %><%}else{ %><%=description%><%}%></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= product._id %>" name="productId">
            <% }else{ %>
                <input type="hidden" value="<%= productId %>" name="productId">
            <% } %>

            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
            <%- include('../includes/csrf-token.ejs') %>
          </form>
        <% } else {%>
          <h1>You are not logged in!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>