    <%- include('../includes/head.ejs') %>
      <link rel="stylesheet" href="/css/product.css">
      <style>
          .empty {
            display: block;
            text-align: center;
          }

          .error {
            color: rgb(201, 9, 9);
            font-weight: normal;
            font-size: 18px;
            display: block;
            text-align: center;
            text-shadow: 0 1px 1px black;
            text-transform: uppercase;
          }
      </style>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <span class="error"> <%= error %> </span>
                <% if (isAuthenticated) { %>
                  <% if (prods.length > 0) { %>
                    <div class="grid">
                      <% for (let product of prods) { %>
                        <article class="card product-item">
                          <header class="card__header">
                            <h1 class="product__title">
                              <%= product.title %>
                            </h1>
                          </header>
                          <div class="card__image">
                            <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                          </div>
                          <div class="card__content">
                            <h2 class="product__price">$
                                <%= product.price %>
                            </h2>
                            <p class="product__description">
                                <%= product.description %>
                            </p>
                          </div>
                          <div class="card__actions">
                            <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a>
                              <input type="hidden" value="<%= product._id %>" name="productId">
                              <button class="btn" type="button" onclick="deleteProduct(this)">Delete</button>
                              <%- include('../includes/csrf-token.ejs') %>
                          </div>
                        </article>
                      <% } %>
                    </div>
                    <!-- ------------- PAGINACAO ------------- -->
                    <%- include('../includes/pagination.ejs') %>
                    <!-- ------------- ----------- ------------- -->
                  <% } else { %>
                      <h1 class="empty">No Products Found!</h1>
                  <% } %>
                <% } else { %>
                  <h1 class="empty">You are not logged!</h1>
                <% } %>
            </main>
            <script src="/js/admin/admin-products.js"></script>
      <%- include('../includes/end.ejs') %>