    <%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
          <div class="container col-12 ">
            <span class="text-warning text-center"> <%= error %> </span>
            <% if (isAuthenticated) { %>
              <% if (prods.length > 0) { %>
                <div class="row mx-2">
                  <% for (let product of prods) { %>
                    <div class="card col-6 col-md-4 col-lg-3 col-xl-2 my-4">
                      <img class="card-img-top" src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                      <div class="card-body">
                        <h5 class="card-title"><%= product.title %></h5>
                        <p class="card-text"><%= product.description %></p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: <strong>$<%= product.price %></strong></li>
                      </ul>
                      <!-- <div class="card__actions">
                        <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a>
                          <input type="hidden" value="<%= product._id %>" name="productId">
                          <button class="btn" type="button" onclick="deleteProduct(this)">Delete</button>
                          <%- include('../includes/csrf-token.ejs') %>
                      </div> -->
                      <div class="card-body text-center">
                        <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn btn-info">Edit</a>
                          <form action="#" class="form" method="POST">
                            <input type="hidden" value="<%= product._id %>" name="productId" />
                            <button class="btn btn-danger my-4" type="submit">Delete</button>
                          <%- include('../includes/csrf-token.ejs') %>
                          </form>
                      </div>
                    </div>
                  <% } %>
                </div>
                <!-- ------------- PAGINACAO ------------- -->
                <%- include('../includes/pagination.ejs') %>
                <!-- ------------- ----------- ------------- -->
              <% } else { %>
                <h1 class="text-warning text-center">No Products Found!</h1>
              <% } %>
            <% } else { %>
              <h1 class="empty text-center text-danger">You are not logged!</h1>
            <% } %>
          </div>
        </main>

        <script src="/js/admin/admin-products.js"></script>
    <%- include('../includes/end.ejs') %>